/* Landportal SCSS: Variables */

/* Colors */
$grey:          #444444;
$grey-light:    #888888;
$grey-lighter:  #cccccc;
$black:         #111111;
$white:         #ffffff;


$green:         #8fcd1f;
$green-dark:    #617724;
$green-light:	#A3C642;
$c-g05:#F2F2F2;
$c-g20:#CCC;
$c-g10:#E5E5E5;

$blue:          #0165C3;
$blue-light:    #428bca;
$blue-dark:     #2a6496;
$blue-bright:	#26AAE7;

$yellow:        #e3ab03;
$yellow-light:  #f1db11;

$red:           #91594d;

$status-red:    #fe2e2e;
$status-green:  #01df3a;

$bg-featured: #f8f8f8;

/* Text */
$text-color:    #333333;

/* Contrast */
$ccontrast:#fff;

/* primary */
$cprimary: #A3C642;

/* error */
$cattent:#E74C3C;