/**
 * Landbook SCSS
 *
 * Some crazy things in there, lot of cleanup to do...
 */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$grey-bglight: #f0f0f0;
$green-bg: #A3C642;

/******************************************
 * Global stuff that shouldn't be here
 */
section a{
    color:$green-light;
    font-family: "Open Sans",sans-serif;

    &:hover{
        text-decoration: none;
        color: $green-dark;
    }
    &:focus{
        color:$green-light;
        border:none;
        outline: none;
        text-decoration: none;
    }
}
.content .content.container {
    padding: 0;
    width: 100%;
}


/******************************************
 * Header section
 */

.landbook-header-bg {
    background-color: $green-dark;
    background-image: url('../images/header/grass-medium.png');
}
.node-type-landbook-country,
.page-book {
    #section-header {
        border-top: 0;
        @extend .landbook-header-bg;
        background-color: $green-light;
    }
}

/******************************************
 * Country (narrative) page
 */

.node-type-thematic-narrative #main {
    /* Hide default node title */
    #page-title {
        display: none;
    }
    .node-thematic-narrative {
        .field-name-title-field,
        .group-topics-regions,
        .field-name-field-landvoc-to {
            @extend .text-center;
        }
        /* Title: The landvoc (Theme or Category) element linked to the node (landvoc-to) */
        .field-name-field-landvoc-to {
            @extend .h1;
        }
        /* Subtitle: Actual title of the node */
        .field-name-title-field {
            @extend .h2;
        }
        .group-topics-regions {
            .field-item a {
                @include border-radius(5em);
                padding: 5px 10px;
                display: block;
            }
        }
    }

}




/******************************************
 * Country (narrative) page
 */
.section-block{
    h2:first-child{
        display:none;
    }
    .block-views{
        h2{
            display:block;
        }
    }
}

body[class*="page-book-countries-"] {
    #table-indicators header h2 {
        background:url('../images/indicators.png') no-repeat 50% 0;
    }
    #map-global header h2 {
        background:url('../images/mapping.png') no-repeat 50% 0;
    }
    #compare header h2 {
        background:url('../images/infographics.png') no-repeat 50% 0;
    }
    #lgaf header h2 {
        background:url('../images/rankings.png') no-repeat 50% 0;
    }
    h2.media{
        background:url('../images/media.png') no-repeat 50% 0;
    }
    h2.partners{
        background:url('../images/partners.png') no-repeat 50% 0;
    }
    h2.library{
        background:url('../images/library.png') no-repeat 50% 0;
    }

    #block-system-main {
        @extend .clearfix;
    }

    #block-landbook-lgaf-block,
    #block-landbook-view-coda-lbcp-spider-note {
        padding: 0;
        font-size: 12px;
        color: #999;
        font-family: "Open Sans",sans-serif;
    }
    #block-landbook-view-coda-lbcp-spider-note {
        @extend .col-sm-6;
        @extend .pull-right;
    }

    #block-landbook-disclaimer-block {
        background: $green-light;
        padding: 15px 0;
        font-size: 12px;
        color: $white;
        @extend .clearfix;
        @extend .container-fluid;
        /* Note: FIX ME, this is not a proper bootstrap grid implementation */
        .content {
            margin: 0 5%;
            text-align: justify;
            /* @extend .col-xs-10; */
            /* @extend .col-xs-offset-1; */
            /* @extend .col-md-8; */
            /* @extend .col-md-offset-2; */
        }
    }

    /* Block background colors */
    #lgaf,
    #partners-block,
    #media-block .media-block-content,
    #block-system-main,
    #compare {
        background-color: $grey-bglight;
    }
    #media-block {
        padding-bottom: 0;
        border-bottom: 0;
    }
    
    #main-wrapper{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0;
        .region-content{
            #block-system-main{
                margin-top: -60px;
                /*margin-bottom: 60px;*/
                .node-landbook-country{
                    /* WTF? seems to make the footer buggy */
                    /* >header{ */
                    /*     margin-top: -25px; */
                    /* } */
                    >.content{
                        overflow:hidden;
                    }
                }
            }
            >section{
                padding-bottom: 60px;
                // WTF!!!
                &#reletad-content{
                    .views-field-field-doc-thumb{
                        max-height: 260px;
                        overflow: hidden;
                    }
                    // WTFWTF
                    /* &.empty{ */
                    /*     margin-top: -260px; */
                    /* } */
                    padding-bottom: 0px;
                    .view-content{
                        text-align: center;
                        margin-bottom: -5px;
                      .views-row {
                        position: relative;
                        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
                        margin-bottom:15px;
                        @media(min-width:768px){
                          position: relative;
                          display:inline-block;
                          &:last-child{
                            margin-right: 0;
                          }
                        }
                    }

                    .views-field-title {
                      width: 100%;
                      background-color: rgba(.3, .3, .3, .6);
                      position: absolute;
                      padding: 0.5em 1em;
                      padding-bottom:30px;
                      bottom: 0;
                      text-align: left;
                      z-index: 1;
                    }
                    a {
                      text-decoration: none;
                      color: $white;
                    }
                    .views-field-field-image {
                      height: 260px;
                      overflow: hidden; 
                    }
                    img {
                        width: auto;
                        height: auto;
                        min-height: 260px;
                        @media(max-width:768px){
                            width: 100%;
                        }
                    }
                  }
                  &:after {
                      position: relative;
                      clear: both;
                      display: table;
                      content: " ";
                      visibility: hidden;
                  }
                }
                .btn{
                    background-color: $green-light;
                    color: #fff;
                    box-shadow: 4px 5px 0 0 #6e872a;
                    width: 100%;
                    border: medium none;
                    display: inline-block;
                    line-height: 43px;
                    outline: 0 none !important;
                    padding: 0 1em;
                    text-align: center;
                    text-decoration: none;
                    transition: background-color 300ms linear 0s;
                    font-family: "Open Sans",sans-serif;
                    font-size: 12px;
                    border-radius: 0px;
                    text-transform: uppercase;
                    &:focus,
                    &:hover,
                    &:active,
                    &:visited{
                        background-color: #b6d269;
                        color: #fff;
                    }
                }
                select{
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: medium none;
                    border-radius: 0;
                    display: table-cell;
                    padding: 9px 12px 9px 10px;
                    width: 100%;
                    height: auto;
                    background: #f7f7f7 none repeat scroll 0 0;
                    background-image:url("../images/toggle-arrow.png");
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                    box-shadow: 4px 5px 0 0 #6e872a;
                    margin-bottom:5px;
                    font-family: "Open Sans",sans-serif;
                    font-size: 16px;
                }
                header{
                    h2{
                        padding-top: 65px;
                        font-family: "Open Sans",sans-serif;
                        font-size: 29px;
                        margin-top:5px;
                        text-align:center;
                        margin-bottom: 35px;
                        color:#333;
                    }
                }
                &#map-local{
                    padding-bottom: 0px;
                }
                &#reletad-content{
                    margin-top:-130px;
                    min-height: 260px;
                }
                &#country-navigation{
                    background-color: $grey-bglight;
                    margin-top: -135px;
                    padding-top: 135px;
                    &.no-reletad-content-empty{
                        margin-top: -145px;
                    }
                    header{
                        margin-top: -25px;
                        h2{
                            font-family: "Open Sans",sans-serif;
                            margin-top: 0;
                            margin-bottom: 10px;
                            font-size: 2em;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
    }


    #block-landbook-country-block{
        background:#F8F8F8;
    }
    .photo-gallery {
        bottom: -131px;
        height: 260px;
        left: 0;
        position: absolute;
        width: 100%;

        .carousel-photo-gallery{
            .c-item{
                height: 260px;
                .pos-txt-img-carousel {
                    bottom: 30px;
                    left: 15px;
                    position: absolute;
                    z-index: 13;
                    color: #fff;
                    font-family: "Open Sans",sans-serif;
                    font-size: 16px;
                }
                .cover-img-carousel {
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        .country-intro{ 
            bottom: -75px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0px);
            width: 768px;
            z-index: 5;

            .country-flag{
                border: 4px solid #fff;
                border-radius: 50em;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
                height: 48px;
                overflow: hidden;
                width: 50px; 
                margin:0 auto;

                img{
                    width:50px;
                    height:auto;
                    border:none;
                }
            }
            h2{
                font-size: 34px;
                display: block;
                text-align: center;
            }
        }
    }



    .country-section{
        clear:both;
        /*overflow-x:hidden;*/
        &.nopadding{
            padding-top:0;
        }

        background: $white;
        border-bottom: 1px solid $grey-bglight;
        padding-top: 60px;
        padding-bottom: 60px;

        h2.section-title{
            padding-top: 65px;
            font-family: "Open Sans",sans-serif;
            font-size: 29px;
            margin-top:5px;
            text-align:center;
            margin-bottom: 35px;
            color:#333;
        }
        .adj-blog{
            margin-left:30px;
        }
        @media only screen and (min-width: 768px){
            .centered{
                margin: 0 auto;
                float: none;
            }
        }
        /* Excuse me, WTF is that??? */
/*         .bg-gray{ */
/*             background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , #f7f7f7 0px, #f7f7f7 62.3%, transparent 40%) repeat scroll 0 0; */
/*             overflow-x:hidden;  */

/*             &.full-width{ */
/*                 background: #f7f7f7; */
/*             } */

/*             .bg-media{ */
/*                 background: #f7f7f7; */
/*             } */

/* /\*@media only screen and (max-width: 992px){ */
/*             padding-left:15px; */
/*             padding-right:15px; */
/*       }*\/ */
/*         } */
        .bg-white{
            background-color: #fff;
        }

        .block{
            padding:40px 0;

            &.note-infografic {
                padding:0;
                margin:0;
                width: 100%;
            }

            >h2{
                margin-bottom: 11px;
                margin-top: 22px;
                font-size: 22px;
                font-family: "Open Sans",sans-serif;
                color:#333;

                @media only screen and (max-width: 992px){
                    padding-left:15px;
                    padding-right:15px;
                }
            }
            .blog{
                .view-content{
                    width: 218px;
                    @media only screen and (max-width: 992px){
                        width:100%;
                    }
                }
                /*.node-intro{
                    display: inline-block;
                }
                .node-image{
                    margin-bottom:15px;
                    padding-left:0;
                    padding-right:0;
                }*/
            }
            .partners{
                a{
                    font-family: "Open Sans",sans-serif;
                    font-size: 12px;
                    text-align: center;
                    color: #91b135;
                    text-decoration: none;

                    &:hover{
                        color:#617724;
                    }
                }
            }
        }
    }


    /* TMP overrides to make the country page looks good. */
    #page-title {
        display: none;
    }
    .node-landbook-country {
        //@extend .row;        
        header h2 {
            @extend .text-center;
            color:#333;
        }

    }
    #map-local { padding: 0; }

    /* End of Country narrative content */
}



#country-navigation{
  .ul-wrap{
      display:table;
      margin:0 auto;
      .nav-inside-country{
        margin-top:20px;
        border: 1px solid $green-light;
        display: inline-block;
        list-style-type: none;
        padding: 0;
        font-family: "Open Sans",sans-serif;
        margin-bottom: 20px;

        li{
          display: block;
          float: left;

          a{
            border-right: 1px solid $green-light;
            padding: 10px 15px;
            text-transform: uppercase;
            color: #91b135;
            text-decoration: none;
            display:block;
            font-size:12px;
          }
          a:hover,
          a:focus{
            color:#617724;
          }
          &:last-child{
            a{
              border-right: none;
            }
          }
        }
      }
      @media only screen and (max-width: 720px){
      width:150px;
      .nav-inside-country{
        li{
          width:100%;
          border-bottom:1px solid $green-light;
          &:last-child{
            border-bottom:none;
          }

          a{
            text-align: center;
            border-right: none;
          }
        }
      }
    }
  }
}

#table-indicators {
    td {
        vertical-align: middle;
    }
}

/******************************************
 * Country narative nodes
 */
.node-landbook-country {
    font-size:16px;
    font-family: "Merriweather",serif;
    color:#666;
    .field-collection-container{
        color: #666;
        font-family: "Merriweather",serif;
        font-size: 16px;
        line-height: 1.42857;
        margin-top: 20px;
        margin-bottom: 0px;
        border-bottom: none;
        .field-name-field-country-info{
            .field-label{
                display: none;
            }                
            .field-collection-view{
                padding: 0px;
                margin: 0px;
                border-bottom: none;
                .field-collection-item-field-country-info{
                    border-bottom: 1px solid #d3d7d9;
                    font-size: 16px;

                        .content{
                            position: relative;

                            .mic-i-a{
                                display: block;
                                padding: 10px 0;
                                font-family: "Open Sans",sans-serif;
                            }

                            .mic-i-control{
                                background-image:url("../images/icon-open-info.png");
                                background-position: center center;
                                background-repeat: no-repeat;
                                display: block;
                                height: 20px;
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                width: 20px;
                                cursor: pointer;
                            }
                            .mic-content{
                                display:none;
                            }
                        }
                    }
                } 
        }
    }
    .sources{
        border-bottom: 1px solid #d6dbdc;
        padding-top: 10px;
        padding-bottom: 10px;

        .field-label{
            font-family: "Open Sans",sans-serif;
            color: #999;
            font-size:12px;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
        }
        span{
            font-family: "Merriweather",serif;
            font-size: 16px;

            a{
                font-family: "Merriweather",serif;
                font-size: 16px;
            }
        }
    }
}





/* loader */
.loading {
    .sk-three-bounce {
        margin: 40px auto;
        width: 80px;
        text-align: center; }
    .sk-three-bounce .sk-child {
        width: 20px;
        height: 20px;
        background-color: #A3C642;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
        animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
    .sk-three-bounce .sk-bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s; }
    .sk-three-bounce .sk-bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s; }

    @-webkit-keyframes sk-three-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0); }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1); } }

    @keyframes sk-three-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0); }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1); } }

    p{
        font-family: "Open Sans",sans-serif;
        color: #999;
        font-size: 12px;
        text-transform: uppercase;
    }
}






/* WFT is this doing here? is it landbook specific? no */
#block-landportal-blocks-lp-share {
    position: fixed;
    right: 0px;
    top: 50%;
    width: 45px !important;
    transform: translate(0px, -50%);
    z-index:1000;

    .content {
        a{
            float:left;
            padding:0;

            &.a2a_button_facebook{
                background:#4d70a8;
            }

            &.a2a_button_twitter{
                background:#00baf2;
            }
            &.a2a_button_google_plus{
                background:#e2411d;
            }

            span{
                border-radius: 0 !important;
                display:block;

                &.a2a_s_facebook{ 
                    background:url('../images/sh-facebook.png') no-repeat 0 0;
                }

                &.a2a_s_twitter{
                    background:url('../images/sh-twitter.png') no-repeat 0 0;
                }
                &.a2a_s_google_plus{
                    background:url('../images/sh-googleplus.png') no-repeat 0 0;
                }
            }
        }
    }
}

// WTF is block-4
#block-views-landbook-countries-related-block-4{
    .views-view-grid{
        margin: 0 auto;
    }
    @media only screen and (max-width: 767px){
        .views-view-grid{
            td{
                padding:0 15px;
                min-width: 200px;
                display:block;
                float:left;
                min-height: 220px;

                article{
                    display: inline-block;
                    line-height: 130px;
                }
            }
        }
    }
}


// WTF is block-5 ?
#block-views-landbook-countries-related-block-5{
    overflow-x:hidden; 
    .field-name-title{
        margin-top:10px;  
        clear:none;
    }
    h2{
        color:#333;
        font-family: "Open Sans",sans-serif;
    }
    .node-landlibrary-resource.node-teaser{
        h2{
            font-size: 18px;
            line-height: 1.42857;
            font-weight: 600;
        }
        .field-name-field-doc-thumb{
            margin-top: 15px;

            a{
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
                display: inline-block;
            }
        }
        /* .field-type-taxonomy-term-reference{ */
        /*     .field-items{ */
        /*         float: none; */
        /*     } */
        /* } */
    }
    .field-name-field-doc-provider{
        @media(max-width:768px){
            margin-left:0;
            float: left;
        }
    }
    .field-name-field-doc-description{
        p{
            color: #999;
            font-family: "Merriweather",serif;
            font-size: 16px;
        }
    }
    .field-name-field-doc-creation-date{
        margin:3px 0;
        clear:none;
        span{
            color: #999;
            font-family: "Merriweather",serif;
            font-size: 16px;
        }
    }
    .field-name-field-doc-publisher {
        color: #999;
        font-family: "Merriweather",serif;
        font-size: 16px;
        font-size: 16px;
        margin-left: 1em;
        //width: 150px;
        float:right;
        @media only screen and (max-width: 767px){
            float:none;
            margin-left:0;
        }
        .field-item{
            display:none;

            &:first-child{
                display:block;
            }
        }
    }
    .group-landvoc{
        .description{
            font-weight: bold;
            color:#888888;
            /*font-style: italic;*/
            font-family: "Merriweather",serif;
            font-size: 16px;
            margin-bottom: 15px;
            position: relative;
            display: inline-block;
            padding-right: 100px;

            a{
                &:hover{
                    color: $green;
                }
                span{
                    position: absolute;
                    right: 80px;
                    top: 5px;
                }
            }
        }
    }

    .field-name-field-doc-type{
        clear:none;
    }
    .more-link{
        float:left;
        clear:both;
        margin-left: 15px;
        margin-top: 5px;
    }
    .left-col{
        float:right;
        @media only screen and (max-width: 767px){
            float:left;
        }
    }
}


.note{
    font-size: 12px;
    color: #999;
    margin-bottom: 60px;
    font-family: "Open Sans",sans-serif;
    p{
        margin:5px 0 0 0;
    }
    a{
        color:$green-light;
        &:hover{
            color:$green-dark;
            text-decoration: none;
        }
    }
}

// What an aweful class...
.pdf-block{
    background: #F0F0F0;
    padding-top: 40px;
    border-top: 1px solid #f0f0f0;
    padding-bottom: 42px;

    .cb-right-2 {
        border-right: 1px solid #d6dbdc;
        @media only screen and (max-width: 767px){
            margin-bottom:20px;
        }
    }
    .txt-c{
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        a{  
            color:$green-light;
            &:hover{
                color:$green-dark;
                text-decoration: none;
            }
            img{
                margin: 0 auto;
                vertical-align: middle;
                margin-bottom: 10px;
            }
            span{
                display:block;
            }
        }
    }
}

.graphics-wrapper {
    background: #f8f8f8;
    display: block;
    overflow: hidden;
}





/******************************************
 * TODO Cleanup / put those in the right place
 */
.field-type-taxonomy-term-reference {
    margin-bottom:0 !important;
    .field-items,
    .field-item{
        margin-bottom: 5px;
        a{
            font-family: "Open Sans",sans-serif;
        }
    }
    .field-items{
        margin-bottom: 0;
    }
}

// WTF why are we overriding node style here?
.node{
    .field,
    .location{
        font-size:16px;
    }
    .field-type-taxonomy-term-reference,
    .field-name-field-geographical-focus,
    .field-name-field-related-topics,
    .field-name-field-doc-licencing{
        margin-bottom:0 !important;
        .field-items,
        .field-item{
            margin-bottom: 5px;
            a{
                font-family: "Open Sans",sans-serif;
            }
        }
        .field-items{
            margin-bottom: 0;
        }
    }
}
.node-intro{
    display: inline-block;
}
.node-image{
    margin-bottom:15px;
    padding-left:0;
    padding-right:0;
}



/******************************************
 * TODO Cleanup / remove those class
 * At best they are useless or
 *   it is very likely that they will disturb have bad side effects and
 *   conflicts on other part of the website
 */
.p-l-bottom{
    padding-bottom: 20px;
}
.cb-right-2 {
    border-right: 1px solid #d6dbdc;
}
.m-l-top {
    margin-top: 20px;
}
.container-wrapper{
    border-bottom:0.36em solid $green;
}

// WTF
.messages.error{
    overflow: hidden;
}

.btn-more {
    margin-top: 14px;
}



/* Nasty hack for avoid field clearfix */
.node-teaser .clearfix:after {
    //display: none;
    clear: left;
}

.page-book-countries #content {
    a{
        color:$green-light;
        &:hover{
            color:$green-dark;
            text-decoration: none;
        }
    }
}

#highcharts-0{
    width:100% !important;
}
