/**
 * Landbook SCSS
 *
 * Some crazy things in there, lot of cleanup to do...
 */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$grey-bglight: #f0f0f0;
$green-bg: #A3C642;


/******************************************
 * Global stuff that shouldn't be here
 */

section a{
    color:$green-light;
    font-family: "Open Sans",sans-serif;

    &:hover{
        text-decoration: none;
        color: $green-dark;
    }
    &:focus{
        color:$green-light;
        border:none;
        outline: none;
        text-decoration: none;
    }
}

.content .content.container {
    padding: 0;
    width: 100%;
}

.node-teaser{
    .field{
        clear: both;
        &.field-type-taxonomy-term-reference{
            .field-item{
                margin-bottom: 5px;
            }
        }
    }
    .node-image{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 15px;
        a{
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
            display: inline-block;
        }
    }
}


/******************************************
 * Header section
 */

.landbook-header-bg {
    background-color: $green-dark;
    background-image: url('../images/header/grass-medium.png');
}

.node-type-landbook-country,
.page-book {
    #section-header {
        border-top: 0;
        @extend .landbook-header-bg;
        background-color: $green-light;
    }
}



/******************************************
 * Country (narrative) page
 */

/* .page-node.node-type-landbook-country { */
/*     /\* @media(min-width:992px){ *\/ */
/*     /\*     #breadcrumb, *\/ */
/*     /\*     #main-wrapper{ width: 95%; } *\/ */
/*     /\* } *\/ */
/*     article.indicators-table { margin: 5em 0; } */
/*     #indicators-display { margin-top: 6em; } */
/*     #comparison-form { */
/*         margin-bottom: 1.4em; */
/*         .form-group { max-width: 33%; } */
/*     } */
/*     div.compare-legend { margin: -3.6em 0 6em 11em; } */
/*     table { */
/*         tbody { border: 0px; } */
/*         .indicatorCode { display: none; } */
/*     } */
/*     div.map-medium { */
/*         @extend .clearfix; */
/*         /\* margin: 4em 0 5em 0; *\/ */
/*         /\* height: 26em; *\/ */
/*     } */
/*     h1.title { */
/*         &:before { */
/*             /\* border: 1px solid $green; *\/ */
/*             content: ' '; */
/*             background-color: $green; */
/*             display: block; */
/*             width: 100%; */
/*             height: 1px; */
/*             position: absolute; */
/*             top: .9em; */
/*             z-index: -1; */
/*         } */
/*         span { padding-right: .5em; background-color: white; } */
/*         img { */
/*             vertical-align: baseline; */
/*             margin-right: 10px; */
/*         } */
/*     } */
/*     .block-views>h2 { */
/*         border-bottom: 1px solid $green; */
/*         //padding-top: .5em; */
/*     } */
/*     .node-teaser>h2 { */
/*         font-size: 1.4em; */
/*     } */
/*     /\* Narative (left) aside element *\/ */
/*     /\* aside { *\/ */
/*     /\*     .btn { width: 100%; } *\/ */
/*     /\*     div.country-map { *\/ */
/*     /\*         height: 200px; *\/ */
/*     /\*         width: 100%; *\/ */
/*     /\*     } *\/ */
/*     /\* } *\/ */
/*     /\* /\\* Sidebar elements *\\/ *\/ */
/*     /\* .field-type-taxonomy-term-reference { *\/ */
/*     /\*     display: none; *\/ */
/*     /\* } *\/ */
/*     /\* .node-news.node-teaser { *\/ */
/*     /\*     img { *\/ */
/*     /\*         width: 35%; *\/ */
/*     /\*         margin: 0 5px 5px 0; *\/ */
/*     /\*         float: left; *\/ */
/*     /\*     } *\/ */
/*     /\*     .submitted, .links { display: none; } *\/ */
/*     /\*     .content { font-size: .8em; } *\/ */
/*     /\* } *\/ */
/* } */


.section-block{
    h2:first-child{
        display:none;
    }
    .block-views{
        h2{
            display:block;
        }
    }
}

.page-book-countries{

    #block-system-main {
        @extend .clearfix;
        background-color: $grey-bglight;
    }

    
    #block-landbook-disclaimer {
        background: $green-light;
        padding: 15px 0;
        color: $white;
        @extend .clearfix;
        .content {
            @extend .col-xs-12; 
            @extend .col-md-8;
            @extend .col-md-offset-2;
        }
        //font-size: 12px;
    }
    
    #main-wrapper{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        .region-content{
            #block-system-main{
                margin-top: -60px;
                /*margin-bottom: 60px;*/
                .node-landbook-country{
                    >header{
                        margin-top: -25px;
                    }
                    >.content{
                        overflow:hidden;
                    }
                }
            }
            >section{
                padding-bottom: 60px;
                &#reletad-content{
                    .views-field-field-doc-thumb{
                        max-height: 260px;
                        overflow: hidden;
                    }
                    &.empty{
                        margin-top: -260px;
                    }
                    padding-bottom: 0px;
                    .view-content{
                        text-align: center;
                        margin-bottom: -5px;
                      .views-row {
                        position: relative;
                        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
                        margin-bottom:15px;
                        @media(min-width:768px){
                          position: relative;
                          /*float: left;*/
                          /*width: 33.25%;*/
                          /*margin-right: -3px;*/
                          display:inline-block;

                          &:last-child{
                            margin-right: 0;
                          }
                        }
                    }

                    .views-field-title {
                      width: 100%;
                      background-color: rgba(.3, .3, .3, .6);
                      position: absolute;
                      padding: 0.5em 1em;
                      padding-bottom:30px;
                      bottom: 0;
                      text-align: left;
                      z-index: 1;
                    }
                    a {
                      text-decoration: none;
                      color: $white;
                    }
                    .views-field-field-image {
                      height: 260px;
                      overflow: hidden; 
                    }
                    img {
                        width: auto;
                        height: auto;
                        min-height: 260px;
                        @media(max-width:768px){
                            width: 100%;
                        }
                    }
                  }
                  &:after {
                      position: relative;
                      clear: both;
                      display: table;
                      content: " ";
                      visibility: hidden;
                  }
                }
                .btn{
                    background-color: $green-light;
                    color: #fff;
                    box-shadow: 4px 5px 0 0 #6e872a;
                    width: 100%;
                    border: medium none;
                    display: inline-block;
                    line-height: 43px;
                    outline: 0 none !important;
                    padding: 0 1em;
                    text-align: center;
                    text-decoration: none;
                    transition: background-color 300ms linear 0s;
                    font-family: "Open Sans",sans-serif;
                    font-size: 12px;
                    border-radius: 0px;
                    text-transform: uppercase;
                    &:focus,
                    &:hover,
                    &:active,
                    &:visited{
                        background-color: #b6d269;
                        color: #fff;
                    }
                }
                select{
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: medium none;
                    border-radius: 0;
                    display: table-cell;
                    padding: 9px 12px 9px 10px;
                    width: 100%;
                    height: auto;
                    background: #f7f7f7 none repeat scroll 0 0;
                    background-image:url("../images/toggle-arrow.png");
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                    box-shadow: 4px 5px 0 0 #6e872a;
                    margin-bottom:5px;
                    font-family: "Open Sans",sans-serif;
                    font-size: 16px;
                }
                header{
                    h2{
                        padding-top: 65px;
                        font-family: "Open Sans",sans-serif;
                        font-size: 29px;
                        margin-top:5px;
                        text-align:center;
                        margin-bottom: 35px;
                    }
                }
                &#map-local{
                    padding-bottom: 0px;
                }
                &#reletad-content{
                    margin-top:-130px;
                    min-height: 260px;
                }
                &#country-navigation{
                    background-color: $grey-bglight;
                    margin-top: -135px;
                    padding-top: 135px;
                    &.no-reletad-content-empty{
                        margin-top: -145px;
                    }
                    header{
                        margin-top: -25px;
                        h2{
                            font-family: "News Cycle",sans-serif;
                            margin-top: 0;
                            margin-bottom: 10px;
                            font-size: 2em;
                            padding-top: 0px;
                        }
                    }
                }
                &#table-indicators{
                    header{
                        h2{
                            background:url('../images/indicators.png') no-repeat 50% 0;
                        }
                    }
                }
                &#map-global{
                    header{
                        h2{
                            background:url('../images/mapping.png') no-repeat 50% 0;
                        }
                    }
                }
                &#compare{
                    header{
                        h2{
                            background:url('../images/infographics.png') no-repeat 50% 0;
                        }
                    }
                }
                &#lgaf{
                    header{
                        h2{
                            background:url('../images/rankings.png') no-repeat 50% 0;
                        }
                    }

                    #lgaf-values{
                        li{
                            padding: 15px 20px;
                            border-bottom: 2px solid #F2F2F2;
                            background-color: #FFFFFF;
                            span{
                                &:first-of-type{
                                    width: 1em;
                                    height: 1em;
                                    display: inline-block;
                                    @include border-radius(20px);
                                }
                            }
                        }
                    }
                    #lgaf-legend{
                        li{
                            span{
                                &:first-of-type{
                                    width: 1em;
                                    height: 1em;
                                    display: inline-block;
                                    @include border-radius(20px);
                                }
                            }
                        }
                    }
                    .lgaf-value-a {
                        background-color: #7ED321;
                    }
                    .lgaf-value-b {
                        background-color: #F8E71C;
                    }
                    .lgaf-value-c {
                        background-color: #F5A623;
                    }
                    .lgaf-value-d {
                        background-color: #F6112D;
                    }
                    .lgaf-value-na {
                        background-color: #CCC;
                    }
                }
                .table{
                    background-color: #fff;
                    border: 0 none;
                    border-collapse: inherit;
                    border-spacing: 0;
                    font-weight: inherit;
                    height: 100%;
                    text-align: left;
                    vertical-align: inherit;
                    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
                    width: 100%;
                    thead{
                        tr{
                            th{
                                border-right: 1px solid $grey-bglight;
                                border-bottom: none;
                                font-weight: lighter;
                                padding: 10px;
                                background-color: $green-light;
                                color: $white;
                                font-family: "Open Sans",sans-serif;
                                font-size: 12px;
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                    tbody{
                        tr{
                            &:nth-child(2n) {
                                background: #f2f2f2 none repeat scroll 0 0;
                            }
                            td{
                                border-bottom: 1px solid $grey-bglight;
                                border-right: 1px solid $grey-bglight;
                                padding: 10px;
                                font-size:16px;
                                font-family: "Merriweather",serif !important;
                                color:#666;

                                a{
                                    font-family: "Merriweather",serif;
                                }
                                .glyphicon-info-sign{
                                    background-color: #a3c642;
                                    border-radius: 50em;
                                    color: #fff;
                                    display: inline-block;
                                    height: 20px;
                                    line-height: 14px;
                                    margin-right: 5px;
                                    text-align: center;
                                    width: 20px;
                                    float:right;

                                    &::before{
                                        content:"i" !important;
                                    }
                                }
                            }
                        }
                    }
                    @media only screen and (max-width: 767px){
                        display: block;
                        thead{
                            display: none !important;
                        }
                        tbody{
                            display: block;
                            tr{
                                display: block;
                                td{
                                    display: block;
                                    -moz-border-bottom-colors: none;
                                    -moz-border-left-colors: none;
                                    -moz-border-right-colors: none;
                                    -moz-border-top-colors: none;
                                    border-color: -moz-use-text-color -moz-use-text-color #eee;
                                    border-image: none;
                                    border-style: none none solid;
                                    border-width: medium medium 1px;
                                    padding-left: 50%;
                                    position: relative;

                                    &:before{
                                        left: 6px;
                                        padding-right: 10px;
                                        position: absolute;
                                        top: 11px;
                                        white-space: nowrap;
                                        width: 45%;
                                    }
                                    &.indicator::before {
                                        content: "Indicators";
                                    }
                                    &:nth-of-type(2)::before {
                                        content: "Year";
                                    }
                                    &:nth-of-type(3)::before {
                                        content: "Value";
                                    }
                                    &:nth-of-type(4)::before {
                                        content: "Unit";
                                    }
                                    &:nth-of-type(5)::before {
                                        content: "Dataset";
                                    }
                                    &:nth-of-type(6)::before {
                                        content: "Source";
                                    }
                                    &:nth-of-type(7)::before {
                                        content: "Remove";
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }


    #block-landbook-country-block{
        background:#F8F8F8;
    }
    .photo-gallery {
        bottom: -131px;
        height: 260px;
        left: 0;
        position: absolute;
        width: 100%;

        .carousel-photo-gallery{
            .c-item{
                height: 260px;
                .pos-txt-img-carousel {
                    bottom: 30px;
                    left: 15px;
                    position: absolute;
                    z-index: 13;
                    color: #fff;
                    font-family: "Open Sans",sans-serif;
                    font-size: 16px;
                }
                .cover-img-carousel {
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        .country-intro{ 
            bottom: -75px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0px);
            width: 768px;
            z-index: 5;

            .country-flag{
                border: 4px solid #fff;
                border-radius: 50em;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
                height: 48px;
                overflow: hidden;
                width: 50px; 
                margin:0 auto;

                img{
                    width:50px;
                    height:auto;
                    border:none;
                }
            }
            h2{
                font-size: 34px;
                display: block;
                text-align: center;
            }
        }
    }



    .country-section{
        clear:both;
        /*overflow-x:hidden;*/
        &.nopadding{
            padding-top:0;
        }

        background: $white;
        border-bottom: 1px solid $grey-bglight;
        padding-top: 60px;
        padding-bottom: 60px;

        h2.section-title{
            padding-top: 65px;
            font-family: "Open Sans",sans-serif;
            font-size: 29px;
            margin-top:5px;
            text-align:center;
            margin-bottom: 35px;
            &.media{
                background:url('../images/media.png') no-repeat 50% 0;
            }
            &.partners{
                background:url('../images/partners.png') no-repeat 50% 0;
            }
            &.library{
                background:url('../images/library.png') no-repeat 50% 0;
            }
        }
        .adj-blog{
            margin-left:30px;
        }
        .bg-gray{
            background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , #f7f7f7 0px, #f7f7f7 62.5%, transparent 40%) repeat scroll 0 0;
            overflow-x:hidden; 

            .bg-media{
                background: #f7f7f7;
            }

/*@media only screen and (max-width: 992px){
            padding-left:15px;
            padding-right:15px;
      }*/
        }
        .bg-white{
            background-color: #fff;
        }

        .block{
            padding:40px 0;

            >h2{
                margin-bottom: 11px;
                margin-top: 22px;
                font-size: 22px;
                font-family: "Open Sans",sans-serif;

                @media only screen and (max-width: 992px){
                    padding-left:15px;
                    padding-right:15px;
                }
            }
            .blog{
                .view-content{
                    width: 218px;
                    @media only screen and (max-width: 992px){
                        width:100%;
                    }
                }
                /*.node-intro{
                    display: inline-block;
                }
                .node-image{
                    margin-bottom:15px;
                    padding-left:0;
                    padding-right:0;
                }*/
            }
            .partners{
                a{
                    font-family: "Open Sans",sans-serif;
                    font-size: 12px;
                    text-align: center;
                    color: #91b135;
                    text-decoration: none;

                    &:hover{
                        color:#617724;
                    }
                }
            }
        }
        &.note-infografic{
            padding:0;
        }
        /*.node-teaser{
            padding: 20px 0;

            .node-image{
                padding:0;
                a{
                    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
                    display: inline-block;
                    img{
                        max-width: 100%;
                        max-height: 122px;
                        height: auto;
                    }
                }

                @media only screen and (max-width: 992px){
                    padding-left:15px;
                    padding-right:15px;
                    margin-bottom: 15px;
                }

            }
            .node-intro{
                >h3{
                    margin-top:0;
                    text-align: left;
                    line-height: 0;
                    margin-bottom: 5px;
                    a{
                        color: #91b135;
                        font-size: 16px;
                        line-height: 1.42857;
                        font-family: "Open Sans",sans-serif;

                        &:hover{
                            color:#617724;
                            text-decoration: none;
                        }
                    }
                }
                span{
                    color: #999;
                    font-size: 14px;
                    margin-top: 5px;
                    line-height: 1.42857;
                    font-family: "Open Sans",sans-serif;
                }
                .text{
                    margin-top: 5px;
                    font-family: "Merriweather",serif;
                    color: $text-color;
                    font-size: 16px;
                    line-height: 1.42857;

                    p{
                        font-size: 16px;
                    }
                }
                .date{
                    background-image:url("../images/ico-cal.png");
                    background-position: left center;
                    background-repeat: no-repeat;
                    padding-left: 25px;
                    font-family: "Open Sans",sans-serif;
                    border-bottom: 1px solid $grey-bglight;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    font-size: 14px;
                }
                .location{
                    background-image:url("../images/ico-loc.png");
                    background-position: left center;
                    background-repeat: no-repeat;
                    padding-left: 25px;
                    font-family: "Open Sans",sans-serif;
                    border-bottom: 1px solid $grey-bglight;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    font-size: 14px;
                }
            }
            &.node-landlibrary-resource{
                >h2{
                    margin-top:0;
                    text-align: left;
                    line-height: 0;
                    margin-bottom: 5px;
                    a{
                        color: #91b135;
                        font-size: 16px;
                        line-height: 1.42857;
                        font-family: "Open Sans",sans-serif;

                        &:hover{
                            color:#617724;
                            text-decoration: none;
                        }
                    }
                }
                border-bottom:1px solid $grey-bglight;
                .description-resource{

                    padding-top:0;
                    p{  
                        font-family: "Merriweather",serif !important;
                        color: #999;
                        margin:5px 0;
                        font-size: 16px;
                    }
                }
                .keywords{
                    span{
                        font-family: "Open Sans",sans-serif;
                        text-transform: uppercase;
                        color: #999;
                        font-size: 12px;
                    }
                    a{
                        color:#91b135;
                        font-size: 16px;

                        &:hover{
                            color:#617724;
                            text-decoration: none;
                        }
                    }

                }
            }
        }
        select{
            background: #f7f7f7 none repeat scroll 0 0;
            background-image:url("../images/toggle-arrow.png");
            background-position: right 10px center;
            background-repeat: no-repeat;
        }
        &.grey{
            background:#F8F8F8;
            select{
                background: #ffffff none repeat scroll 0 0; 
                background-image:url("../images/toggle-arrow.png");
                background-position: right 10px center;
                background-repeat: no-repeat;
            }
        }
        .sep-left-charts{
            border-left:1px solid #ccc;
        }
        .spider-note{
            display: none;
            padding:0;
            font-family: "Open Sans",sans-serif;
            color:#999;
            font-size:12px;

            .no-m-bottom{
                margin:0;
            }
        }
        .note-infografic{
            border-bottom:1px solid #ccc;
            margin-bottom:30px;
            font-family: "Open Sans",sans-serif;
            color:#999;
            font-size:12px;
            padding-top:0;
        }*/
    }
    
    /* .info-bottom{ */
    /*     padding-top: 40px; */
    /*     .txt-c{ */
    /*         text-align: center; */
    /*         .displayb{ */
    /*             display:block; */
    /*             .c-obj{ */
    /*                 margin: 0 auto; */
    /*                 vertical-align: middle; */
    /*             } */
    /*             .m-s-top { */
    /*                 margin-top: 10px; */
    /*             } */
    /*         } */
    /*     } */
    /* } */



    /* TMP overrides to make the country page looks good. */
    #page-title {
        display: none;
    }
    .node-landbook-country {
        //@extend .row;        
        header h2 {
            @extend .text-center;
        }

    }
    #map-local { padding: 0; }


    /* End of Country narrative content */
}

#country-navigation{
  .ul-wrap{
      display:table;
      margin:0 auto;
      .nav-inside-country{
        margin-top:20px;
        border: 1px solid $green-light;
        display: inline-block;
        list-style-type: none;
        padding: 0;
        font-family: "Open Sans",sans-serif;
        margin-bottom: 20px;

        li{
          display: block;
          float: left;

          a{
            border-right: 1px solid $green-light;
            padding: 10px 15px;
            text-transform: uppercase;
            color: #91b135;
            text-decoration: none;
            display:block;
            font-size:12px;
          }
          a:hover,
          a:focus{
            color:#617724;
          }
          &:last-child{
            a{
              border-right: none;
            }
          }
        }
      }
      @media only screen and (max-width: 720px){
      width:150px;
      .nav-inside-country{
        li{
          width:100%;
          border-bottom:1px solid $green-light;
          &:last-child{
            border-bottom:none;
          }

          a{
            text-align: center;
            border-right: none;
          }
        }
      }
    }
  }
}

#table-indicators{
    tbody{
        td{
            text-align: center;

            .glyphicon-trash::before {
                color:#D31129;
            }

            &.indicator,
            &.year,
            &.value,
            &.unit,
            &.dataset,
            &.sourceOrg{
                text-align: left;
            }
        }
    }
}

.node-landbook-country {
    font-size:16px;
    font-family: "Merriweather",serif;
    color:#666;
    .field-collection-container{
        color: #666;
        font-family: "Merriweather",serif;
        font-size: 16px;
        line-height: 1.42857;
        margin-top: 20px;
        margin-bottom: 0px;
        border-bottom: none;
        .field-name-field-country-info{
            .field-label{
                display: none;
            }                
            .field-collection-view{
                padding: 0px;
                margin: 0px;
                border-bottom: none;
                .field-collection-item-field-country-info{
                    border-bottom: 1px solid #d3d7d9;
                    font-size: 16px;

                        .content{
                            position: relative;

                            .mic-i-a{
                                display: block;
                                padding: 10px 0;
                                font-family: "Open Sans",sans-serif;
                            }

                            .mic-i-control{
                                background-image:url("../images/icon-open-info.png");
                                background-position: center center;
                                background-repeat: no-repeat;
                                display: block;
                                height: 20px;
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                width: 20px;
                                cursor: pointer;
                            }
                            .mic-content{
                                display:none;
                            }
                        }
                    }
                } 
        }
    }
    .sources{
        border-bottom: 1px solid #d6dbdc;
        padding-top: 10px;
        padding-bottom: 10px;

        .field-label{
            font-family: "Open Sans",sans-serif;
            color: #999;
            font-size:12px;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
        }
        span{
            font-family: "Merriweather",serif;
            font-size: 16px;

            a{
                font-family: "Merriweather",serif;
                font-size: 16px;
            }
        }
    }
}


/******************************************
 *      Form styling
 */
.block{
    .form-title{
        font-size: 16px;
        font-family: "Open Sans",sans-serif;
    }
    .views-exposed-widget{
        padding:10px 0 20px 0;
        .views-widget{
            .description{
                display: none;
            }
            select{
                background: #f7f7f7 none repeat scroll 0 0;
                min-width:300px;
                background-image:url("../images/toggle-arrow.png"); 
                background-position: right 10px center;
                background-repeat: no-repeat;
            }
        }
    }
    select{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: medium none;
        border-radius: 0;
        display: table-cell;
        padding: 9px 12px 9px 10px;
        width: 100%;
        background: #ffffff none repeat scroll 0 0;
        background-image:url("../images/toggle-arrow.png");
        background-position: right 10px center;
        background-repeat: no-repeat;
        box-shadow: 4px 5px 0 0 #6e872a;
        margin-bottom:5px;
    }
    .button{
        background-color: $green-light;
        color: #fff;
        box-shadow: 4px 5px 0 0 #6e872a;
        width:100%;
        border: medium none;
        display: inline-block;
        line-height: 43px;
        outline: 0 none !important;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;
        transition: background-color 300ms linear 0s;
        font-family: "Open Sans",sans-serif;
        font-size:14px;
    }
}

/* .block-map{ */
/*     background:#f8f8f8; */
/* } */
/* #mapDiv{ */
/*     height: 468px; */
/* } */
/* #wrapper-piechart{ */
/*     height: 400px; */
/* } */
/* #maparea{ */
/*     position:relative; */
/* } */
/* #wrapper-mapping { */
/*     height: 768px; */
/* } */
/* #igraphics{ */
/*     margin-top:5px; */
/* } */
/* #wrapper-igraphics { */
/*     height: 400px; */
/*     width: 100%; */
/* } */
/* .labels-compare{ */
/*     display:none; */
/* } */
/* .tit-mapping{ */
/*     display:none; */
/* } */




/* loader */
.loading {
    .sk-three-bounce {
        margin: 40px auto;
        width: 80px;
        text-align: center; }
    .sk-three-bounce .sk-child {
        width: 20px;
        height: 20px;
        background-color: #A3C642;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
        animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
    .sk-three-bounce .sk-bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s; }
    .sk-three-bounce .sk-bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s; }

    @-webkit-keyframes sk-three-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0); }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1); } }

    @keyframes sk-three-bounce {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0); }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1); } }

    p{
        font-family: "Open Sans",sans-serif;
        color: #999;
        font-size: 12px;
        text-transform: uppercase;
    }
}





.p-l-bottom{
    padding-bottom: 20px;
}
.cb-right-2 {
    border-right: 1px solid #d6dbdc;
}


/* help classes */
.m-l-top {
    margin-top: 20px;
}


/* .cbtn, .ctn-icon { */
/*   display: inline-block; */
/*   padding: 0 1em; */
/*   text-decoration: none; */
/*   text-align: center; */
/*   line-height: 43px; */
/*   -webkit-transition: background-color 300ms linear; */
/*   -moz-transition: background-color 300ms linear; */
/*   -o-transition: background-color 300ms linear; */
/*   -ms-transition: background-color 300ms linear; */
/*   transition: background-color 300ms linear; */
/*   border: none; */
/*   background: transparent; */
/*   outline: 0 none !important; */
/*   box-shadow: 4px 5px 0 0 #6e872a; */
/* } */

/* .cbtn:hover, .ctn-icon:hover, .cbtn:active, .ctn-icon:active, .cbtn:focus, .ctn-icon:focus, .cbtn:visited, .ctn-icon:visited { */
/*   text-decoration: none; */
/* } */

/* .ctn-icon { */
/*   line-height: 15px !important; */
/* } */

/* .cbtn-search { */
/*   height: 45px; */
/* } */

/* .cbtn-block { */
/*   width: 100%; */
/* } */

/* @media screen and (-webkit-min-device-pixel-ratio: 0) { */
/*   .cbtn, .ctn-icon { */
/*     line-height: 45px; */
/*   } */
/* } */
/* .cbtn-corner { */
/*   border-radius: 4px; */
/* } */

/* .cbtn-round { */
/*   border-radius: 50em; */
/* } */

/* .cbtn-round-st { */
/*   width: 60px; */
/*   height: 60px; */
/*   line-height: 60px; */
/* } */

/* .cbtn-adj-ico-rst-med { */
/*   position: relative; */
/*   top: 6px; */
/*   left: -5px; */
/* } */

/* .cbtn-st-pos-right { */
/*   position: fixed; */
/*   right: 10px; */
/*   bottom: 10px; */
/*   z-index: 30; */
/*   box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.3); */
/* } */

/* .cbtn-rounded { */
/*   border-radius: 50px; */
/* } */

/* .cbtn-line { */
/*   border: 2px solid; */
/* } */
/* .cbtn-l-acc { */
/*   border-color: $green-light; */
/*   color: $green-light; */
/* } */
/* .cbtn-l-acc:hover, .cbtn-l-acc:focus, .cbtn-l-acc:active { */
/*   border-color: #b6d269; */
/*   background-color: $green-light; */
/*   color: #fff; */
/* } */
/* .cbtn-l-dis { */
/*   cursor: default; */
/*   border-color: #CCC; */
/*   color: #CCC; */
/* } */
/* .cbtn-l-dis:hover, .cbtn-l-dis:focus, .cbtn-l-dis:active { */
/*   color: #CCC; */
/* } */
/* .cbtn-s-sh { */
/*   position: relative; */
/*   top: 10px; */
/*   box-shadow: 0px 2px 1px 0px #356300; */
/* } */
/* .cbtn-s-sh2 { */
/*   box-shadow: 4px 5px 0px 0px #6E872A; */
/* } */
/* .cbtn-s-acc { */
/*   background-color: $green-light; */
/*   color: #fff; */
/*   text-transform: uppercase; */
/* } */
/* .cbtn-s-acc:hover, .cbtn-s-acc:focus, .cbtn-s-acc:active { */
/*   color: #fff; */
/*   background-color: #b6d269; */
/* } */
/* .cbtn-s-acc:active { */
/*   /\* Rectangle 86 Copy 3: *\/ */
/*   background-color: #85a431; */
/*   box-shadow: inset 0px 3px 1px 0px #396407; */
/* } */
/* .cbtn-s-succ { */
/*   background-color: #2ECC71; */
/*   color: #fff; */
/* } */
/* .cbtn-s-succ:hover, .cbtn-s-succ:focus, .cbtn-s-succ:active { */
/*   color: #fff; */
/*   background-color: black; */
/* } */
/* .cbtn-s-cancel { */
/*   background-color: $grey-bglight; */
/*   color: #666; */
/* } */
/* .cbtn-s-cancel:hover, .cbtn-s-cancel:focus, .cbtn-s-cancel:active { */
/*   color: #666; */
/*   background-color: #fff; */
/* } */
/* .cbtn-s-dis { */
/*   cursor: default; */
/*   background-color: #CCC; */
/*   color: #fff; */
/* } */
/* .cbtn-s-dis:hover, .cbtn-s-dis:focus, .cbtn-s-dis:active { */
/*   background-color: #CCC; */
/* } */
/* .hddn { */
/*     display: none; */
/* } */


/* WFT is this doing here? is it landbook specific? no */
.social-block{
    position: fixed;
    right: 0px;
    top: 50%;
    width: 45px !important;
    transform: translate(0px, -50%);
    z-index:1000;

    .addtoany_list{
        a{
            float:left;
            padding:0;

            &.a2a_button_facebook{
                background:#4d70a8;
            }

            &.a2a_button_twitter{
                background:#00baf2;
            }
            &.a2a_button_google_plus{
                background:#e2411d;
            }

            span{
                border-radius: 0 !important;
                display:block;

                &.a2a_s_facebook{ 
                    background:url('../images/sh-facebook.png') no-repeat 0 0;
                }

                &.a2a_s_twitter{
                    background:url('../images/sh-twitter.png') no-repeat 0 0;
                }
                &.a2a_s_google_plus{
                    background:url('../images/sh-googleplus.png') no-repeat 0 0;
                }
            }
        }
    }
}

#block-views-landbook-countries-related-block-4{
    .views-view-grid{
        margin: 0 auto;
    }
    @media only screen and (max-width: 767px){
        .views-view-grid{
            td{
                padding:0 15px;
                min-width: 200px;
                display:block;
                float:left;
                min-height: 220px;

                article{
                    display: inline-block;
                    line-height: 130px;
                }
            }
        }
    }
}
#block-views-landbook-countries-related-block-5{
    overflow-x:hidden; 
    .field-name-title{
        margin-top:10px;  
        clear:none;
    }
    .node-landlibrary-resource.node-teaser{
        h2{
            font-size: 16px;
            line-height: 1.42857;
        }
    }
    .field-name-field-doc-provider{
        @media(max-width:768px){
            margin-left:0;
            float: left;
        }
    }
    .field-name-field-doc-description{
        p{
            color: #999;
            font-family: "Merriweather",serif;
            font-size: 16px;
        }
    }
    .field-name-field-doc-creation-date{
        margin:3px 0;
        clear:none;
        span{
            color: #999;
            font-family: "Merriweather",serif;
            font-size: 16px;
        }
    }
    .field-name-field-doc-publisher {
        color: #999;
        font-family: "Merriweather",serif;
        font-size: 16px;
    }
    .field-name-field-doc-type{
        clear:none;
    }
    .more-link{
        float:left;
        clear:both;
        margin-left: 15px;
        margin-top: 5px;
    }
    .left-col{
        float:right;
        @media only screen and (max-width: 767px){
            float:left;
        }
    }
    @media only screen and (max-width: 767px){
        .view-filters{
            h2{
                padding-top:20px;
            }
        }
    }
}

.messages.error{
    overflow: hidden;
}
.disclaimer-block{
    font-size: 12px;
    color:$white;
    font-family: "Merriweather",serif;
    background: $green-light;
    padding:15px 0 5px 0;
}

.note{
    font-size: 12px;
    color: #999;
    margin-bottom: 60px;

    p{
        margin:5px 0 0 0;
    }

    a{
        color:$green-light;

        &:hover{
            color:$green-dark;
            text-decoration: none;
        }
    }
}

.pdf-block{
    background: #F0F0F0;
    padding-top: 40px;
    border-top: 1px solid #f0f0f0;
    padding-bottom: 42px;

    .cb-right-2 {
        border-right: 1px solid #d6dbdc;
        @media only screen and (max-width: 767px){
            margin-bottom:20px;
        }
    }
    .txt-c{
        font-family: "Open Sans",sans-serif;
        font-size: 14px;

        a{  
            color:$green-light;

            &:hover{
                color:$green-dark;
                text-decoration: none;
            }
            img{
                margin: 0 auto;
                vertical-align: middle;
                margin-bottom: 10px;
            }
            span{
                display:block;
            }
        }
    }
}

#map-local-wrapper{
    height: 470px;
}

.country-section:nth-child(even),
.grey{
    background:#F8F8F8;

    #map-global-wrapper{
        background:#F8F8F8;
    }
}

#lgaf{
    &.country-section{
        border-bottom:none;
    }
    #lgaf-legend{
        li{
            span{
                font-size: 12px;

                &.lgaf-value{
                    width:14px;
                    height:14px;
                    left: 0;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
    #lgaf-values{
        li{
            position:relative;
            padding: 15px 20px 15px 40px !important;
            .lgaf-value-a,
            .lgaf-value-b,
            .lgaf-value-c,
            .lgaf-value-d,
            .lgaf-value-na,{
                height: 20px !important;
                left: 10px;
                line-height: 20px;
                position: absolute;
                text-align: center;
                top: 15px;
                width: 20px !important;
            }
        }
    }
}

.graphics-wrapper {
    background: #f8f8f8;
    display: block;
    overflow: hidden;
}

#lgaf{
    overflow: hidden;
}

.node-intro{
    display: inline-block;
}
.node-image{
    margin-bottom:15px;
    padding-left:0;
    padding-right:0;
}

.node-teaser{
    padding: 20px 0;

    .node-image{
        padding:0;
        a{
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
            display: inline-block;
            img{
                max-width: 100%;
                max-height: 122px;
                height: auto;
            }
        }

        @media only screen and (max-width: 992px){
            padding-left:15px;
            padding-right:15px;
            margin-bottom: 15px;
        }

    }
    .node-intro{
        >h3{
            margin-top:0;
            text-align: left;
            line-height: 0;
            margin-bottom: 5px;
            a{
                color: #91b135;
                font-size: 16px;
                line-height: 1.42857;
                font-family: "Open Sans",sans-serif;

                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }
        }
        span{
            color: #999;
            font-size: 14px;
            margin-top: 5px;
            line-height: 1.42857;
            font-family: "Open Sans",sans-serif;
        }
        .text{
            margin-top: 5px;
            font-family: "Merriweather",serif;
            color: $text-color;
            font-size: 16px;
            line-height: 1.42857;

            p{
                font-size: 16px;
            }
        }
        .date{
            background-image:url("../images/ico-cal.png");
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 25px;
            font-family: "Open Sans",sans-serif;
            border-bottom: 1px solid $grey-bglight;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: 14px;
        }
        .location{
            background-image:url("../images/ico-loc.png");
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 25px;
            font-family: "Open Sans",sans-serif;
            border-bottom: 1px solid $grey-bglight;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: 14px;
        }
    }
    &.node-landlibrary-resource{
        >h2{
            margin-top:0;
            text-align: left;
            line-height: 0;
            margin-bottom: 5px;
            a{
                color: #91b135;
                font-size: 16px;
                line-height: 1.42857;
                font-family: "Open Sans",sans-serif;

                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }
        }
        border-bottom:1px solid $grey-bglight;
        .description-resource{

            padding-top:0;
            p{  
                font-family: "Merriweather",serif !important;
                color: #999;
                margin:5px 0;
                font-size: 16px;
            }
        }
        .keywords{
            span{
                font-family: "Open Sans",sans-serif;
                text-transform: uppercase;
                color: #999;
                font-size: 12px;
            }
            a{
                color:#91b135;
                font-size: 16px;

                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }

        }
    }
}

.node{
    .field,
    .location{
        font-size:16px;
    }

    
    .field-name-field-geographical-focus,
    .field-name-field-related-topics{
        margin-bottom:0 !important;
        .field-items,
        .field-item{
            margin-bottom: 5px;
            a{
                font-family: "Open Sans",sans-serif;
            }
        }
        .field-items{
            margin-bottom: 0;
        }
    }

}

.container-wrapper{
    border-bottom:0.36em solid $green;
}