.btn {
    margin: .2em 0;
}


.landportal-button {
    padding: 0.2em 0.5em;
    border-radius: .25em;
    background-color: $blue-light;
    color: white;
    white-space: nowrap;
    &.active {
        background-color: $blue-dark;
    }
}

.landportal-button-red {
    //margin-bottom: 1em;
    .field-item a {
        padding: .5em;
        font-size: 1.2em;
        background-color: $red;
        font-weight: bold;
    }
}

/**
 * Taxonomy term
 */
.field-type-taxonomy-term-reference {
    /* .field-items { */
    /*     display: inline; */
    /* } */
    .field-item {
        float: left;
        //display: inline-block;
        margin: 0 .2em;
        a {
            font-size: .8em;
            text-decoration: none;
            text-transform: uppercase;
            @extend .landportal-button;
        }
    }
}

/* Geographical focus*/
.field-name-field-geographical-focus {
    .field-item a {
        background-color: #428B3F;
    }
}

/* Overarching categories (aka domains), themes, topics (concepts) LandVoc terms */
.field-name-field-related-themes {
    .field-item a {
        background-color: #42B7CA;
    }
}

.field-name-field-related-domains {
    .field-item a {
        background-color: #42CABD;
    }
}
.field-name-field-related-topics {
    .field-item a {
        background-color: #428BCA;
    }
}

.group-landvoc {
    .field { display: inline; }
    @extend .clearfix;
}

/* Debate status */
.field-name-field-status .field-item {
    margin: 1.5em 0;
    padding: .5em;
}
.field-name-field-status .field-item {
    float: none;
    border: 1px solid $grey-light;
    .field-item[content="Closed"] {
        background-color: $status-red;
    }
}
