/* Bootstrap override */
.webform-client-form {
    /* @extend .form-horizontal; */
    /* label { */
    /*     @extend .control-label; */
    /*     @extend .col-sm-3; */
    /* } */
    .grippi {
    }
    .webform-component-number,
    .webform-component-checkboxes {
        @extend .form-inline;
    }
    .webform-component-number label {
        @extend .col-sm-3;
        margin-top: 5px;
        padding-left: 0;
    }

    .form-item {
        @extend .form-group;
    }
    input[type=text],
    input[type=email],
    select, textarea {
        @extend .form-control;
    }
    .form-type-checkbox {

    }
    .form-managed-file {

    }
    .form-actions {
        input[type=submit] {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}

select {
    max-width: 100%;
}

#section-header {
    #block-search-form {
        margin: 1em 5em 0 0;
        padding: 5px 10px 3px 5px;
        float: right;
        /* z-index: 500; */
        background-color: rgba(255, 255, 255, 0.6);

        .container-inline div {
            display: inline-block;
            margin: 0;

        input {
            background-color: inherit;
            border: 0;
        }
        input[type=submit] {
            display: none;
        }
        &.form-actions:after {
             font-family: 'Glyphicons Halflings';
             content: "\e003";
        }
}
    }
}
html.js fieldset.collapsed {
    height: auto;
}

.page-user.not-logged-in {
    /* #section-header, */
    #main-wrapper {
        padding: 0;
        max-width: 40em;
        margin: 0 auto;

        /* min-width: 600px; */
        /* text-align: center; */
        /* border: 1px solid $grey-light; */
        /* border-radius: 0.25em; */
    }
}
.contact-form {
    label {
        display: inline-block;
        min-width: 150px;
    }
}

#user-register-form{
    label{
        display:block;
    }
    #edit-mailchimp-lists{
        label{
            display:inline-block;
        }
    }
}

/* Show checkboxes as blocks */
div.form-type-checkbox{
	display:block !important
}




/******************************************
 *      Form styling
 *
 * sept. 2016 new LB
 */
.block{
    .form-title{
        font-size: 16px;
        font-family: "Open Sans",sans-serif;
    }
    .views-exposed-widget{
        padding:10px 0 20px 0;
        .views-widget{
            .description{
                display: none;
            }
            select{
                background: #f7f7f7 none repeat scroll 0 0;
                min-width:300px;
                background-image:url("../images/toggle-arrow.png");
                background-position: right 10px center;
                background-repeat: no-repeat;
            }
        }
    }
    select{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: medium none;
        border-radius: 0;
        display: table-cell;
        padding: 9px 12px 9px 10px;
        width: 100%;
        background: #ffffff none repeat scroll 0 0;
        background-image:url("../images/toggle-arrow.png");
        background-position: right 10px center;
        background-repeat: no-repeat;
        box-shadow: 4px 5px 0 0 #6e872a;
        margin-bottom:5px;
    }
    .button{
        background-color: $green-light;
        color: #fff;
        box-shadow: 4px 5px 0 0 #6e872a;
        width:100%;
        border: medium none;
        display: inline-block;
        line-height: 43px;
        outline: 0 none !important;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;
        transition: background-color 300ms linear 0s;
        font-family: "Open Sans",sans-serif;
        font-size:14px;
    }
}
