/* Only enable on specific views for now
 * Promoted view (at least the one from LL) relies on views-row to apply their style...
 */
//.view .views-row,
.view-by-providers .views-row {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted lightgrey;
    &:first-of-type {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }
}


.view-resource-type .view-content>.item-list>ul>li {
    @extend .panel;
    @extend .panel-default;
    @extend .list-unstyled;
    font-size: 1.2em;
    margin-left: 0;
    &>.views-field {
            @extend .panel-heading;
        }

    ul {
        @extend .list-group;
        margin-bottom: 0;
        li {
            @extend .list-group-item;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-right: 0;
            border-left: 0;
            margin: 0 0 -1px 0;
        }
    }
    .field-content span {
        margin: 0 0 0 1em;
        @extend .badge;
    }
}


.views-view-grid td {
    padding: 1em 3em 0 0;
    @media only screen and (max-width: 720px){
      padding-right: 0px;
    }
}