

.node-teaser {
    padding: 20px 0;

    .field-name-field-image img {
        max-height: 150px;
        max-width: 150px;
        width: auto;
        height: auto;
    }

    // This help get a more proper vertical align impression for logos
    &.node-organization {
        line-height: 160px;
        text-align: center;
    }

    // An organization teaser showing in a teaser (ex: LL)
    .node-organization.node-teaser {
        float: right;
        .field-name-field-image img {
            max-height: 70px;
        }
    }
    .field{
        clear: left;
        &.field-type-taxonomy-term-reference{
            .field-item{
                margin-bottom: 5px;
            }
        }
    }

    .field-name-body{
        font-size:16px;
        h3{
            font-size:16px;
        }
    }

    .node-image{
        padding: 0;
        margin-bottom: 15px;
        a{
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
            display: inline-block;
            img{
                max-width: 100%;
                max-height: 122px;
                height: auto;
            }
        }
        @media only screen and (max-width: 992px){
            padding-left:15px;
            padding-right:15px;
            margin-bottom: 15px;
        }
    }


    // WFT is going on here... this is SCSS not CSS why so many specific definition and duplication of code?
    .node-intro{
        >h2{
            margin-top:0;
            text-align: left;
            line-height: 0;
            margin-bottom: 5px; 
            a{
                color: #91b135;
                font-size: 18px;
                line-height: 1.42857;
                font-family: "Open Sans",sans-serif;
                font-weight: 600;

                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }
        }
        span{
            color: #999;
            font-size: 14px;
            margin-top: 5px;
            line-height: 1.42857;
            font-family: "Open Sans",sans-serif;
        }
        .text{
            margin-top: 5px;
            font-family: "Merriweather",serif;
            color: $text-color;
            font-size: 16px;
            line-height: 1.42857;
            p,h1,h2,h3,h4,h5{
                font-size: 16px;
                font-family: "Merriweather",serif;
                line-height: 1.42857;
            }
        }
        .date{
            background-image:url("../images/ico-cal.png");
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 25px;
            font-family: "Open Sans",sans-serif;
            border-bottom: 1px solid $grey-bglight;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: 14px;
        }
        .location{
            background-image:url("../images/ico-loc.png");
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 25px;
            font-family: "Open Sans",sans-serif;
            border-bottom: 1px solid $grey-bglight;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: 14px;
        }
    }
    &.node-landlibrary-resource{
        >h2{
            margin-top:0;
            text-align: left;
            line-height: 0;
            margin-bottom: 5px;
            a{
                color: #91b135;
                font-size: 16px;
                line-height: 1.42857;
                font-family: "Open Sans",sans-serif;
                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }
        }
        border-bottom:1px solid $grey-bglight;
        .description-resource{
            padding-top:0;
            p{  
                font-family: "Merriweather",serif !important;
                color: #999;
                margin:5px 0;
                font-size: 16px;
            }
        }
        .keywords{
            span{
                font-family: "Open Sans",sans-serif;
                text-transform: uppercase;
                color: #999;
                font-size: 12px;
            }
            a{
                color:#91b135;
                font-size: 16px;
                &:hover{
                    color:#617724;
                    text-decoration: none;
                }
            }
        }
    }
}

/* For datasets taxonomy terms
 * Organization teasers float on left
 */
.taxonomy-term.vocabulary-datasets .node-organization.node-teaser {
    float: right;
}
