@page{
    margin:50px 0 50px 0;
}

@page:first{
    margin-top:0;
}

a[href]:after {
    content: none !important;
}

#section-header,
#footer,
#block-views-landbook-countries-related-block-6,
.messages,
.nav-country-processed,
.pdf-block,
.action-links-field-collection-add,
#block-landbook-disclaimer-block,
#media-block,
#partners-block,
.country-section:last-child{
    display:none !important;
}

span.flag{
    width:50px !important;
    height:50px !important;
    border-radius:50px !important;
    overflow:visible;
    background: url("../images/flags.png")  !important;
    background-size:cover !important;
}


#header{
    height:120px;
    border-bottom:1px solid #D4CECA !important;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    z-index:9999 !important;
    padding-top:40px;
    .row{
        display:none;
    }
}
#page{
    margin-top: 120px;
    /*padding-left:80px;
    padding-right:80px;*/
    
    .region.region-content{
        >section:first-child{
            padding: 0;
        }
        >section,
        >div{
           padding-left:40px;
           padding-right:40px; 
        }
        >section{
            padding-top:10px !important;
            padding-bottom:30px !important;
            border-bottom:none !important;
            h2{
                padding-top:0 !important;
                margin-bottom: 0 !important;
            }
        }
    }
    /*
    .print-organization{
        position: absolute;
        top:10px;
        right: 20px;
        display:block !important;
        p{
            float:left;
            color:#79655A !important;
            font-size:22px;
            margin-right:20px;
            margin-top: 50px;
        }
        img{
            width:100px;
            height:auto;
            float:right;
        }
    }*/

}

#header{
    .print-organization{
        position: absolute;
        top:10px;
        right: 20px;
        display:block !important;
        p{
            float:left;
            color:#79655A !important;
            font-size:22px;
            margin-right:20px;
            margin-top: 50px;
        }
        img{
            width:100px;
            height:auto;
            float:right;
        }
    }

}

.field-name-field-country-info{
    .mic-content{
        /*display:inline-block;*/
        height: auto !important;

    }
    .field-collection-view-links{
        display:none;
    }
}

.node-landbook-country .field-collection-container .field-name-field-country-info .field-collection-view .field-collection-item-field-country-info {
    border-bottom: none !important;
}
.field-collection-item-field-country-info .mic-i-a{
    color:#a3c642 !important;
}

#main-wrapper .region-content > section#country-navigation{
    padding-top:0 !important;
    background:none !important;
}
#main-wrapper .region-content > section#country-navigation header{
    margin-top:-35px !important;
}

#table-indicators{
    page-break-before: always !important;
    .header{
        h2{
            background:url("../images/indicators.png") no-repeat 50% 0 !important;
            width:52px !important;
            height: 52px !important;
            background-size:52px !important;
            overflow:visible;
        }
    }
    .row{
        form{
            display:none;
        }
        .table{
            width:100%;
            /*word-wrap:break-word !important;*/
            /*table-layout:fixed !important;*/
            thead{
                /*display:table-header-group;*/
                display:table-row-group;
                th{
                    background-color: #a3c642 !important;
                    color:#ffffff !important;
                }
                th:last-child{
                    display:none !important;
                }
            }
            tbody{
                font-size:14px !important;
                tr{
                    display: table-row;
                    text-align:center;
                    td{
                        color-size:14px !important;
                    }
                    td:last-child{
                        display:none !important;
                    }
                    a{
                        color:#a3c642 !important;
                    }
                }
                tr:nth-child(even){
                    background-color: #f2f2f2 !important;
                }
            }
        }
    }
}
select {
    -moz-appearance: none !important;
    background: #f7f7f7 url("../images/toggle-arrow.png") no-repeat scroll right 10px center !important;
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: 4px 5px 0 0 #6e872a !important;
    display: table-cell !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: 16px !important;
    height: auto !important;
    margin-bottom: 5px !important;
    padding: 9px 12px 9px 10px !important;
    width: 100% !important;
}
input.btn.btn-primary{
    background-color: #a3c642 !important;
    border: medium none !important;
    border-radius: 0 !important;
    box-shadow: 4px 5px 0 0 #6e872a !important;
    color: #fff !important;
    display: inline-block !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: 12px !important;
    line-height: 43px !important;
    outline: 0 none !important !important;
    padding: 0 1em !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: background-color 300ms linear 0s !important;
    width: 100% !important;
}


#map-local{
    /*margin-left:-30%;*/
}

.map-fluid{
    margin-left:-5%;
}
#compare,
#lgaf{
    page-break-before: always !important;
    #lgaf-wrapper{
        width:650px !important;
        margin:0 auto !important;
        
        li{
            span{
                border-radius: 20px !important;
                display: inline-block !important;
                height: 1em !important;
                margin-right: 0.5em !important;
                width: 1em !important;
            }
        }
    }
    .lgaf-value-b {
        background-color: #f8e71c !important;
    }
    .lgaf-value-na {
        background-color: #ccc !important;
    }
    .lgaf-value-c {
        background-color: #f5a623 !important;
    }
    .lgaf-value-a {
        background-color: #7ed321 !important;
    }
    .lgaf-value-d {
        background-color: #f6112d !important;
    }
    .col-sm-2{
        width:150px !important;
    }
    .col-sm-5{
        width: 300px !important;
    }
}
/*
#map-global{
    page-break-before: always !important;
}
*/
/*.piechart{
    width:100% !important;
    #wrapper-piechart,
    .spiderchart{
        width:400px !important;
        float:left !important;
    }
    #block-landbook-view-coda-lbcp-spider-note{
        clear:both;
        float:rigth !important;
        width:500px !important;
    }
    .spiderchart{
        width:100px !important;
        float:rigth !important;
    }
}*/
.piechart{
    width:100% !important;
    #wrapper-piechart{
        width:400px !important;
        float:left !important;
    }
    .spiderchart{
        width:400px !important;
        float:right !important;
        margin-right: 170px !important;
    }
    #block-landbook-view-coda-lbcp-spider-note{
        clear:both;
        float:rigth !important;
        width:500px !important;
    }
}


header{
    h2{
        font-size: 30px;
        padding-bottom:50px;
    }    
    
.flag-ABW { background-position: 0 0% !important; }
.flag-AFG { background-position: 0 0.413223% !important; }
.flag-AGO { background-position: 0 0.826446% !important; }
.flag-AIA { background-position: 0 1.239669% !important; }
.flag-ALB { background-position: 0 1.652893% !important; }
.flag-AND { background-position: 0 2.066116% !important; }
.flag-ARE { background-position: 0 2.479339% !important; }
.flag-ARG { background-position: 0 2.892562% !important; }
.flag-ARM { background-position: 0 3.305785% !important; }
.flag-ASM { background-position: 0 3.719008% !important; }
.flag-ATA { background-position: 0 4.132231% !important; }
.flag-ATC { background-position: 0 4.545455% !important; }
.flag-ATF { background-position: 0 4.958678% !important; }
.flag-ATG { background-position: 0 5.371901% !important; }
.flag-AUS { background-position: 0 5.785124% !important; }
.flag-AUT { background-position: 0 6.198347% !important; }
.flag-AZE { background-position: 0 6.61157% !important; }
.flag-BDI { background-position: 0 7.024793% !important; }
.flag-BEL { background-position: 0 7.438017% !important; }
.flag-BEN { background-position: 0 7.85124% !important; }
.flag-BES { background-position: 0 8.264463% !important; }
.flag-BFA { background-position: 0 8.677686% !important; }
.flag-BGD { background-position: 0 9.090909% !important; }
.flag-BGR { background-position: 0 9.504132% !important; }
.flag-BHR { background-position: 0 9.917355% !important; }
.flag-BHS { background-position: 0 10.330579% !important; }
.flag-BIH { background-position: 0 10.743802% !important; }
.flag-BLM { background-position: 0 11.157025% !important; }
.flag-BLR { background-position: 0 11.570248% !important; }
.flag-BLZ { background-position: 0 11.983471% !important; }
.flag-BMU { background-position: 0 12.396694% !important; }
.flag-BOL { background-position: 0 12.809917% !important; }
.flag-BRA { background-position: 0 13.22314% !important; }
.flag-BRB { background-position: 0 13.636364% !important; }
.flag-BRN { background-position: 0 14.049587% !important; }
.flag-BTN { background-position: 0 14.46281% !important; }
.flag-BWA { background-position: 0 14.876033% !important; }
.flag-CAF { background-position: 0 15.289256% !important; }
.flag-CAN { background-position: 0 15.702479% !important; }
.flag-CHE { background-position: 0 16.115702% !important; }
.flag-CHL { background-position: 0 16.528926% !important; }
.flag-CHN { background-position: 0 16.942149% !important; }
.flag-CIV { background-position: 0 17.355372% !important; }
.flag-CMR { background-position: 0 17.768595% !important; }
.flag-COD { background-position: 0 18.181818% !important; }
.flag-COG { background-position: 0 18.595041% !important; }
.flag-COK { background-position: 0 19.008264% !important; }
.flag-COL { background-position: 0 19.421488% !important; }
.flag-COM { background-position: 0 19.834711% !important; }
.flag-CPV { background-position: 0 20.247934% !important; }
.flag-CRI { background-position: 0 20.661157% !important; }
.flag-CUB { background-position: 0 21.07438% !important; }
.flag-CUW { background-position: 0 21.487603% !important; }
.flag-CYM { background-position: 0 21.900826% !important; }
.flag-CYN { background-position: 0 22.31405% !important; }
.flag-CYP { background-position: 0 22.727273% !important; }
.flag-CZE { background-position: 0 23.140496% !important; }
.flag-DEU { background-position: 0 23.553719% !important; }
.flag-DJI { background-position: 0 23.966942% !important; }
.flag-DMA { background-position: 0 24.380165% !important; }
.flag-DNK { background-position: 0 24.793388% !important; }
.flag-DOM { background-position: 0 25.206612% !important; }
.flag-DZA { background-position: 0 25.619835% !important; }
.flag-ECU { background-position: 0 26.033058% !important; }
.flag-EGY { background-position: 0 26.446281% !important; }
.flag-ERI { background-position: 0 26.859504% !important; }
.flag-ESP { background-position: 0 27.272727% !important; }
.flag-EST { background-position: 0 27.68595% !important; }
.flag-ETH { background-position: 0 28.099174% !important; }
.flag-FIN { background-position: 0 28.512397% !important; }
.flag-FJI { background-position: 0 28.92562% !important; }
.flag-FLK { background-position: 0 29.338843% !important; }
.flag-FRA { background-position: 0 29.752066% !important; }
.flag-FRO { background-position: 0 30.165289% !important; }
.flag-FSM { background-position: 0 30.578512% !important; }
.flag-GAB { background-position: 0 30.991736% !important; }
.flag-GBR { background-position: 0 31.404959% !important; }
.flag-GEO { background-position: 0 31.818182% !important; }
.flag-GGY { background-position: 0 32.231405% !important; }
.flag-GHA { background-position: 0 32.644628% !important; }
.flag-GIB { background-position: 0 33.057851% !important; }
.flag-GIN { background-position: 0 33.471074% !important; }
.flag-GLP { background-position: 0 33.884298% !important; }
.flag-GMB { background-position: 0 34.297521% !important; }
.flag-GNB { background-position: 0 34.710744% !important; }
.flag-GNQ { background-position: 0 35.123967% !important; }
.flag-GRC { background-position: 0 35.53719% !important; }
.flag-GRD { background-position: 0 35.950413% !important; }
.flag-GRL { background-position: 0 36.363636% !important; }
.flag-GTM { background-position: 0 36.77686% !important; }
.flag-GUF { background-position: 0 37.190083% !important; }
.flag-GUM { background-position: 0 37.603306% !important; }
.flag-GUY { background-position: 0 38.016529% !important; }
.flag-HMD { background-position: 0 38.429752% !important; }
.flag-HND { background-position: 0 38.842975% !important; }
.flag-HRV { background-position: 0 39.256198% !important; }
.flag-HTI { background-position: 0 39.669421% !important; }
.flag-HUN { background-position: 0 40.082645% !important; }
.flag-IDN { background-position: 0 40.495868% !important; }
.flag-IMN { background-position: 0 40.909091% !important; }
.flag-IND { background-position: 0 41.322314% !important; }
.flag-IOA { background-position: 0 41.735537% !important; }
.flag-IOT { background-position: 0 42.14876%!important; }
.flag-IRL { background-position: 0 42.561983% !important; }
.flag-IRN { background-position: 0 42.975207% !important; }
.flag-IRQ { background-position: 0 43.38843% !important; }
.flag-ISL { background-position: 0 43.801653% !important; }
.flag-ISR { background-position: 0 44.214876% !important; }
.flag-ITA { background-position: 0 44.628099%!important; }
.flag-JAM { background-position: 0 45.041322% !important; }
.flag-JEY { background-position: 0 45.454545% !important; }
.flag-JOR { background-position: 0 45.867769% !important; }
.flag-JPN { background-position: 0 46.280992% !important; }
.flag-KAS { background-position: 0 46.694215% !important; }
.flag-KAZ { background-position: 0 47.107438% !important; }
.flag-KEN { background-position: 0 47.520661% !important; }
.flag-KGZ { background-position: 0 47.933884% !important; }
.flag-KHM { background-position: 0 48.347107% !important; }
.flag-KIR { background-position: 0 48.760331% !important; }
.flag-KNA { background-position: 0 49.173554% !important; }
.flag-KOR { background-position: 0 49.586777% !important; }
.flag-KOS { background-position: 0 50% !important; }
.flag-KWT { background-position: 0 50.413223% !important; }
.flag-LAO { background-position: 0 50.826446% !important; }
.flag-LBN { background-position: 0 51.239669% !important; }
.flag-LBR { background-position: 0 51.652893% !important; }
.flag-LBY { background-position: 0 52.066116% !important; }
.flag-LCA { background-position: 0 52.479339% !important; }
.flag-LIE { background-position: 0 52.892562% !important; }
.flag-LKA { background-position: 0 53.305785% !important; }
.flag-LSO { background-position: 0 53.719008% !important; }
.flag-LTU { background-position: 0 54.132231% !important; }
.flag-LUX { background-position: 0 54.545455% !important; }
.flag-LVA { background-position: 0 54.958678% !important; }
.flag-MAF { background-position: 0 55.371901% !important; }
.flag-MAR { background-position: 0 55.785124% !important; }
.flag-MCO { background-position: 0 56.198347% !important; }
.flag-MDA { background-position: 0 56.61157% !important; }
.flag-MDG { background-position: 0 57.024793% !important; }
.flag-MDV { background-position: 0 57.438017% !important; }
.flag-MEX { background-position: 0 57.85124% !important; }
.flag-MHL { background-position: 0 58.264463% !important; }
.flag-MKD { background-position: 0 58.677686% !important; }
.flag-MLI { background-position: 0 59.090909% !important; }
.flag-MLT { background-position: 0 59.504132% !important; }
.flag-MMR { background-position: 0 59.917355% !important; }
.flag-MNE { background-position: 0 60.330579% !important; }
.flag-MNG { background-position: 0 60.743802% !important; }
.flag-MNP { background-position: 0 61.157025% !important; }
.flag-MOZ { background-position: 0 61.570248% !important; }
.flag-MRT { background-position: 0 61.983471% !important; }
.flag-MSR { background-position: 0 62.396694% !important; }
.flag-MUS { background-position: 0 62.809917% !important; }
.flag-MWI { background-position: 0 63.22314% !important; }
.flag-MYS { background-position: 0 63.636364% !important; }
.flag-NAM { background-position: 0 64.049587% !important; }
.flag-NCL { background-position: 0 64.46281% !important; }
.flag-NER { background-position: 0 64.876033% !important; }
.flag-NFK { background-position: 0 65.289256% !important; }
.flag-NGA { background-position: 0 65.702479% !important; }
.flag-NIC { background-position: 0 66.115702% !important; }
.flag-NIU { background-position: 0 66.528926% !important; }
.flag-NLD { background-position: 0 66.942149% !important; }
.flag-NOR { background-position: 0 67.355372% !important; }
.flag-NPL { background-position: 0 67.768595% !important; }
.flag-NRU { background-position: 0 68.181818% !important; }
.flag-NZL { background-position: 0 68.595041% !important; }
.flag-OMN { background-position: 0 69.008264% !important; }
.flag-PAK { background-position: 0 69.421488% !important; }
.flag-PAN { background-position: 0 69.834711% !important; }
.flag-PCN { background-position: 0 70.247934% !important; }
.flag-PER { background-position: 0 70.661157% !important; }
.flag-PHL { background-position: 0 71.07438% !important; }
.flag-PLW { background-position: 0 71.487603% !important; }
.flag-PNG { background-position: 0 71.900826% !important; }
.flag-POL { background-position: 0 72.31405% !important; }
.flag-PRI { background-position: 0 72.727273% !important; }
.flag-PRK { background-position: 0 73.140496% !important; }
.flag-PRT { background-position: 0 73.553719% !important; }
.flag-PRY { background-position: 0 73.966942% !important; }
.flag-PSX { background-position: 0 74.380165% !important; }
.flag-PYF { background-position: 0 74.793388% !important; }
.flag-QAT { background-position: 0 75.206612% !important; }
.flag-ROU { background-position: 0 75.619835% !important; }
.flag-RUS { background-position: 0 76.033058% !important; }
.flag-RWA { background-position: 0 76.446281% !important; }
.flag-SAH { background-position: 0 76.859504% !important; }
.flag-SAU { background-position: 0 77.272727% !important; }
.flag-SDN { background-position: 0 77.68595% !important; }
.flag-SEN { background-position: 0 78.099174% !important; }
.flag-SGP { background-position: 0 78.512397% !important; }
.flag-SGS { background-position: 0 78.92562% !important; }
.flag-SHN { background-position: 0 79.338843% !important; }
.flag-SLB { background-position: 0 79.752066% !important; }
.flag-SLE { background-position: 0 80.165289% !important; }
.flag-SLV { background-position: 0 80.578512% !important; }
.flag-SMR { background-position: 0 80.991736% !important; }
.flag-SOM { background-position: 0 81.404959% !important; }
.flag-SPM { background-position: 0 81.818182% !important; }
.flag-SRB { background-position: 0 82.231405% !important; }
.flag-SSD { background-position: 0 82.644628% !important; }
.flag-STP { background-position: 0 83.057851% !important; }
.flag-SUR { background-position: 0 83.471074% !important; }
.flag-SVK { background-position: 0 83.884298% !important; }
.flag-SVN { background-position: 0 84.297521% !important; }
.flag-SWE { background-position: 0 84.710744% !important; }
.flag-SWZ { background-position: 0 85.123967% !important; }
.flag-SXM { background-position: 0 85.53719% !important; }
.flag-SYC { background-position: 0 85.950413% !important; }
.flag-SYR { background-position: 0 86.363636% !important; }
.flag-TCA { background-position: 0 86.77686% !important; }
.flag-TCD { background-position: 0 87.190083% !important; }
.flag-TGO { background-position: 0 87.603306% !important; }
.flag-THA { background-position: 0 88.016529% !important; }
.flag-TJK { background-position: 0 88.429752% !important; }
.flag-TKL { background-position: 0 88.842975% !important; }
.flag-TKM { background-position: 0 89.256198% !important; }
.flag-TLS { background-position: 0 89.669421% !important; }
.flag-TON { background-position: 0 90.082645% !important; }
.flag-TTO { background-position: 0 90.495868% !important; }
.flag-TUN { background-position: 0 90.909091% !important; }
.flag-TUR { background-position: 0 91.322314% !important; }
.flag-TWN { background-position: 0 91.735537% !important; }
.flag-TZA { background-position: 0 92.14876% !important; }
.flag-UGA { background-position: 0 92.561983% !important; }
.flag-UKR { background-position: 0 92.975207% !important; }
.flag-URY { background-position: 0 93.38843% !important; }
.flag-USA { background-position: 0 93.801653% !important; }
.flag-UZB { background-position: 0 94.214876% !important; }
.flag-VAT { background-position: 0 94.628099% !important; }
.flag-VCT { background-position: 0 95.041322% !important; }
.flag-VEN { background-position: 0 95.454545% !important; }
.flag-VGB { background-position: 0 95.867769% !important; }
.flag-VIR { background-position: 0 96.280992% !important; }
.flag-VNM { background-position: 0 96.694215% !important; }
.flag-VUT { background-position: 0 97.107438% !important; }
.flag-WLF { background-position: 0 97.520661% !important; }
.flag-WSM { background-position: 0 97.933884% !important; }
.flag-YEM { background-position: 0 98.347107% !important; }
.flag-ZAF { background-position: 0 98.760331% !important; }
.flag-ZMB { background-position: 0 99.173554% !important; }
.flag-ZWE { background-position: 0 99.586777% !important; }
.flag-no-flag { background-position: 0 100% !important; }
}