.apachesolr_search-results{
  margin: 0;
  padding: 0;
  .node-search{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px dotted #888;
    padding: 2em 0;
  }
  .search-title{
    margin-bottom: 1em;
    vertical-align: bottom;
    h2{
      font-size: 1.8em;
      vertical-align: bottom;
      margin: 0;
    }
    span.type{
      background-color: #8fcd1f;
      vertical-align: bottom;
      border-radius: 0.25em;
      color: white;
      margin-bottom: 0.5em;
      display: inline-block;
      padding: 0.2em 0.5em;
      white-space: nowrap;
      float:right;
    }
  }
  .information{
    float: left;
    text-align: center;
    width: 30%;
    img{
      height: auto;
      width: 100%;
      display: block;
    }
    .field-type-image{
      margin-bottom: 0.5em;
    }
    .field-name-field-date{
      margin-bottom: 0.5em;
    }
    .field-type-taxonomy-term-reference{
      .field-item{
        margin-bottom: 0.9em;
      }
    }
    .field-label{
      position: relative;
      color: #888888;
      font-family: "News Cycle",sans-serif;
      margin-bottom: 0.5em;
      position: relative;
      text-transform: uppercase;
      &::before{
        border-top: 1px solid #888888;
        content: "";
        left: 0;
        position: absolute;
        top: 0.6em;
        width: 100%;
        z-index: -1;
      }
      span{
        background-color: #fff;
        color: #888888;
        font-size: 0.9em;
        font-weight: normal;
        padding: 0 1em;
      }
    }
  }
  .content{
    float: left;
    padding: 0 0 0 2em;
    width: 70%;
  }
}
.node-listing{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #888;
  padding: 2em 0;
  .node-title{
    margin-bottom: 1em;
    vertical-align: bottom;
    h2{
      font-size: 1.8em;
      vertical-align: bottom;
      margin: 0;
    }
    span.type{
      background-color: #8fcd1f;
      vertical-align: bottom;
      border-radius: 0.25em;
      color: white;
      margin-bottom: 0.5em;
      display: inline-block;
      padding: 0.2em 0.5em;
      white-space: nowrap;
    }
  }
  .information{
    float: left;
    text-align: center;
    width: 30%;
    img{
      height: auto;
      margin: auto;
      display: block;
    }
    .field-type-image{
      margin-bottom: 0.7em;
    }
    .field-name-field-date{
      margin-bottom: 0.5em;
    }
    .field-label{
      position: relative;
      color: #888888;
      font-family: "News Cycle",sans-serif;
      margin-bottom: 0.5em;
      position: relative;
      text-transform: uppercase;
      &::before{
        border-top: 1px solid #888888;
        content: "";
        left: 0;
        position: absolute;
        top: 0.6em;
        width: 100%;
        z-index: -1;
      }
      span{
        background-color: #fff;
        color: #888888;
        font-size: 0.9em;
        font-weight: normal;
        padding: 0 1em;
      }
    }
  }
  .content{
    float: left;
    padding: 0 0 0 2em;
    width: 70%;
  }
  .field-type-taxonomy-term-reference{
    .field-item{
      margin-bottom: 0.9em;
    }
  }
}

#search-form{
  #edit-basic{
    .keys{
      width: 300px;
    }
  }

  #edit-advanced-search{
    margin-top: 20px;
    legend{
      border: none;
      margin-bottom: 0px;
      .fieldset-legend{
        background-position: 0 65%;
      }
    }
    &.collapsed{
      .fieldset-legend{
        background-position: 0 50%;
      }
    }
    .fieldset-wrapper{
      .form-item{
        @media only screen and (min-width: 992px){
          float: left;
          width: 50%;
        }
        label,
        select{
          display: inline-block;
        }
        select{
          max-width: 200px;
          width: 100%;
        }
        label{
          min-width: 155px;
          padding:5px 15px 5px 0;
        }
        .chosen-container{
          width:65% !important;
          max-width: 370px;
        }
      }
    }
  }
}
#views-exposed-form-library-search-page{
  select{
    width: 100%;
    display: block;
  }
  #edit-im-field-doc-country-wrapper,
  #edit-sm-field-doc-provider-wrapper{
    @media only screen and (min-width: 768px){
      float: left;
      width: 50%;
    }
  }
  #edit-im-field-doc-subject-wrapper,
  #edit-im-field-doc-type-wrapper,
  #edit-ss-language-wrapper{
    @media only screen and (min-width: 768px){
      float: left;
      width: 33.3333%;
    }
  }
  #edit-im-field-doc-subject-wrapper{
    @media only screen and (min-width: 768px){
      padding-left: 1em;
      padding-right: 0;
    }
  }
  #edit-im-field-doc-type-wrapper{
    @media only screen and (min-width: 768px){
      padding-left: 1em;
    }
  }
  #edit-im-field-doc-country-wrapper{
    @media only screen and (min-width: 768px){
      padding-left: 1em;
      padding-right: 0;
    }

  }
  .views-exposed-widgets{
    position: relative;
  }
  #edit-keyword-wrapper{
    width: 100%;
    padding-right: 120px;
    .form-text{
      width: 100%;
    }
  }
  .views-submit-button{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
    .ajax-progress{
      position: absolute;
      top: 0;
      right: 100%;
    }
  }

}

