/* Make terms in "Topics & Regions" group display in one line for each taxonomy */
.group-topics-regions {
    .field {
        display: inline-block;
        .field-items {
            float: left;
        }
        .field-item {
            display: inline-block;
            margin: .2em;
            margin-left: 0;
        }
    }
}
