/* This could be anyviews in theory */

.view.view-landbook-indicators,
.view.view-landbook-catalog {
    @extend .row;
    .view-filters {
        @extend .col-sm-4;
        float: right;
    }
    .view-content {
        @extend .col-sm-8;
    }
    .views-row {
        @extend .clearfix;
        margin: 1em 0;
        border-bottom: 1px solid #f0f0f0;
        &:last-of-type { border-bottom: 0; }
    }
}

.view-organizations-overview{
    &.view-display-id-page_1,
    &.view-display-id-page{
        .views-row{
            height:190px;
            margin:15px 0;
            text-align:center;
            width:auto;
            clear:none;
            min-width: 180px;
            .node-organization.node-teaser{
                line-height: 150px;
                
                img{
                    min-width: 0;
                }
            }
        }
    }
}