body{
  width:1000px !important;
}
.container{
  padding:0 !important;
}
.region.region-content > section,
.region.region-content > div{
  padding-left:40px !important;
  padding-right:0 !important; 
}

#main-wrapper{
    padding-top: 160px !important;
}
/*
#compare,
#lgaf,
#map-global{
    page-break-before: auto !important;
}*/

#header{
    position:fixed !important;
    top:0px !important;
    left:0 !important;
    height:170px !important;

}
#header .print-organization{
    top:10px !important;
}

#header .print-organization p{
    margin-top:40px !important;
}

#block-views-landbook-countries-related-block-6,
#block-views-landbook-thematics-related-block-6{
    display:none !important;
}

#table-indicators{
    page-break-before: always !important;
}
#map-global{
    page-break-before: auto !important;
}
section{
    border-bottom: none !important;
}

section h2{
    padding-bottom:0 !important;
    margin-bottom: 20px !important;
    margin-top: 0px !important;
}

table span.glyphicon{
    display:none !important;
}

table tbody tr{
    font-size: 14px !important;
}
table tbody tr td{
    padding:5px !important;
}

.piechart{
    margin-left:-15px !important;
}

.piechart #wrapper-piechart{
    width:450px !important;
    margin:0 !important;
}
.piechart .spiderchart{
    width:350px !important;
    float: right !important;
}
.piechart #block-landbook-view-coda-lbcp-spider-note{
    width:350px !important;
}

#main-wrapper .region-content > section#country-navigation{
    margin-bottom:50px !important;
}
#main-wrapper .region-content > section#country-navigation.no-reletad-content-empty header{
    margin-top:-30px !important;
}

#main-wrapper .region-content > section#country-navigation header{
	margin-top:-45px !important;
}

#main-wrapper .region-content > section#country-navigation h2{
    margin-top:0 !important;
}